<!DOCTYPE html>
<html>
<head>
  <title>BolonTheme</title>
  <%= stylesheet_link_tag    "bolon_theme/application", :media => "all" %>
  <%= javascript_include_tag "bolon_theme/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
